@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  display: swap;
  src: url("/fonts/Poppins-Regular.ttf");
}

@theme {
  /* colors */
  --color-primary-50: #ebe9fe;
  --color-primary-100: #dedbfd;
  --color-primary-200: #beb7fb;
  --color-primary-300: #9c92f8;
  --color-primary-400: #7b6ef6;
  --color-primary-500: #5a4af4;
  --color-primary-600: #483bc3;
  --color-primary-700: #362c92;
  --color-primary-800: #251e62;
  --color-primary-900: #120f31;
  --color-secondary-50: #e4f4ff;
  --color-secondary-100: #d2ecfe;
  --color-secondary-200: #a5dbfe;
  --color-secondary-300: #78c8fd;
  --color-secondary-400: #4bb7fd;
  --color-secondary-500: #1ea5fc;
  --color-secondary-600: #1884ca;
  --color-secondary-700: #126297;
  --color-secondary-800: #0c4265;
  --color-secondary-900: #062032;
  --color-tertary-50: #e4f4ff;
  --color-tertary-100: #f0e2ff;
  --color-tertary-200: #e2c5ff;
  --color-tertary-300: #d3a7ff;
  --color-tertary-400: #c58aff;
  --color-tertary-500: #b66dff;
  --color-tertary-600: #9257cc;
  --color-tertary-700: #6d4199;
  --color-tertary-800: #492c66;
  --color-tertary-900: #241633;
  --color-success-50: #e1f9f2;
  --color-success-100: #cdf5e9;
  --color-success-200: #9bebd3;
  --color-success-300: #69e2bd;
  --color-success-400: #37d8a7;
  --color-success-500: #05ce91;
  --color-success-600: #04a574;
  --color-success-700: #037c57;
  --color-success-800: #02523a;
  --color-success-900: #01291d;
  --color-error-50: #ffecec;
  --color-error-100: #ffdfdf;
  --color-error-200: #ffc0c0;
  --color-error-300: #ffa0a0;
  --color-error-400: #ff8181;
  --color-error-500: #ff6161;
  --color-error-600: #cc4e4e;
  --color-error-700: #993a3a;
  --color-error-800: #662727;
  --color-error-900: #331313;
  --color-warning-50: #fff5e9;
  --color-warning-100: #ffefdb;
  --color-warning-200: #ffdeb6;
  --color-warning-300: #ffce92;
  --color-warning-400: #ffbd6d;
  --color-warning-500: #ffad49;
  --color-warning-600: #cc8a3a;
  --color-warning-700: #99682c;
  --color-warning-800: #66451d;
  --color-warning-900: #33230f;
  --color-neutral-50: #ebeef5;
  --color-neutral-100: #c3c8d4;
  --color-neutral-200: #a8aebf;
  --color-neutral-300: #8e95a9;
  --color-neutral-400: #767e94;
  --color-neutral-500: #61697f;
  --color-neutral-600: #475069;
  --color-neutral-700: #323b54;
  --color-neutral-800: #20283e;
  --color-neutral-900: #121829;
  /* font style */
  --font-poppins: Poppins, sans-serif;
}

/* Hide scrollbar */
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-hidden {
  scrollbar-width: none;
}

.scroll-hidden {
  -ms-overflow-style: none;
}
